@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Pacifico&display=swap");

* {
    margin: 0;
    padding: 0;
}



body{
    background-color: rgb(2, 2, 34);
}

.barra{
    background-color: rgb(46, 44, 44);
    height: 100px;
    
}

/*Inicio comienza*/
.inicio{
    background-image: url(./assets/imagenes/fondo_numeros.webp);
    background-size: cover;
    background-position: center;
}

.inicio h1{
    font-family: ' Script Swash Caps', cursive;
    color: black;
    padding: 5px 5px 5px 5px;
    font-size: 30px;
}

.inicio p{
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}


.calculadora{
    height: 800px;
}

.calculadora h2{
    color: white;
}

.subir {
    height: 40px;
    width: 40px;
    background-color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    color: rgb(2, 2, 34);
    border-radius: 50%;
    font-size: 22px;
}

.calculoFinal{
    text-align: center;
    color: white;
    
}

.calculoFinal h2{
    padding: 20px 20px 20px 20px;
}

h2{
    padding-top: 20px;
}

#botoncalcular{
    padding: 3px 10px 3px 10px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 10px;
    background-color: rgb(81, 79, 79);
    
}

#botoncalcular:hover{
    color: yellow;
}


/*Quienes somos comienza*/



.conocenos{
    display: grid;
}

.hleft{
    background-image: url(./assets/imagenes/foto_natalia.PNG) ;
    background-size: cover;
    background-position: center;
    color: white;
    height: 550px;
}

.hleft h2{
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}

.hright {
    padding: 20px;
    height: auto;
}
.hright h2 {
    text-align: center;
    height: auto;
    font-family: "Dancing Script", cursive;
    color: white;
}
.hright p {
    padding-top: 20px;
    font-family: "Libre Franklin", sans-serif;
    color: white;
}

footer {
    display: grid;
    background-color: rgb(46, 44, 44);
    height: auto;
}

.redes {
    margin: 10px 0 10px 0;
    text-transform: capitalize;
    text-align: center;
    color: white;
}
.redes img {
    height: 100px;
    width: 100px;
}
.redes a {
    color: white;
    letter-spacing: 10px;
}
.redes h2 {
font-size: 20px;
}

.menu {
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}
.menu a {
    text-decoration: none;
    color: white;
}
.menu a:hover {
    color: white;
}

.contactanos {
    text-align: center;
    color: white;
}
.contactanos h2 {
    font-size: 15px;
}

a:hover {
    color: rgba(255, 255, 255, 0.308);
}

.copyright {
    margin: 20px 0 20px 0;
    font-size: 15px;
    color: white;
    text-align: center;
}

/*Servicios Profesionales Inicia*/
h1{
    color:white;
    text-align: center;
    height: 100px;
    padding-top: 25px;
}

.card-body {
    text-align: center;
}

.card{
    display: grid;
    
}
.card {
    border: 2px solid grey;
}

.btn {
    background-color: black;
}

/*Servicios Profesionales Finaliza*/

/*Servicios Profesionales Finaliza*/

.inicio{
    background-color: white;
    height: auto;
    padding: 15px;
    
}

.calculadora{
    width:auto;
    height: auto;
    margin: 0 50px 0 50px;
    
}

.form-group label{
    color: white;
    font-size: 25px;
    padding: 15px 0 10px 0;
}

.form-group input{
    color: white;
    font-size: 20px;
    padding: 15px 0 15px 0;
}

.form-check-label{
    color: white;
    padding: 10px 0 10px 0;
}

h2{
    font-size: 25px;
}

th{
    color: white;
}

td{
    color: white;
}

h4{
    color: white;
}



@media only screen and (min-width: 768px) {

.inicio h1{
    font-size: 45px;
}
    /*Lo que hacemos - Inicia*/
.conocenos {
    grid-template-columns: 1fr 1fr;
}
.hright {
    grid-column: 2/3;
}
.hleft {
    grid-column: 1/2;
}
.hleft {
    height: auto;
}
footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.menuf {
    grid-column: 1/2;
}
.redes {
    grid-column: 2/3;
    margin-top: 20px;
}
.contactanos {
    grid-column: 3/4;
}
.copyright {
    grid-column: 2/3;
}

}

@media only screen and (min-width: 1024px){
footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70% 30%;
    height: 200px;
}
.menuf {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 80px;
    font-size: 15px;
}
    .redes {
    grid-column: 2/3;
    font-size: 20px;
}
.contactanos {
    margin-top: 80px;
}
.contactanos h2 {
    font-size: 20px;
}
.contactanos .copyright p {
    font-size: 20px;
} 

#cartas{
    grid-gap: 70px;
    padding-left: 280px;
}

/*
.calculadora{
    width:1000px;
    padding-left: 500px;
}
*/
}